@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Star Wars Facts</h1>
    <p><a href="http://localhost:51454/Home/people" class="btn btn-primary btn-lg">People &raquo;</a></p>
    <p><a href="http://localhost:51454/Home/Starships" class="btn btn-primary btn-lg">Starships &raquo;</a></p>
</div>
